# .NET build output
bin/
obj/

# MkDocs build output
_site/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.*.backup

# User-specific Visual Studio / Rider files
*.user
*.suo
.vs/
.idea/

# NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Environment / secrets
.env

# macOS
.DS_Store

# Docker volume data
docker/data/

# Helm
helm/*/charts/
helm/*/Chart.lock
# Angular
/sql-dashboard/node_modules/
/sql-dashboard/dist/
/sql-dashboard/.angular/
/src/SqlDemosApi.Tests/TestResults
/src/SqlDemosApi.Tests/coverage-report
